version: "3.0"

services:
  app:
    container_name: react-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "8080:8080"
    restart: "unless-stopped"